<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="D:/Staff/Ojha file/java-for-practice/testing/src/main/java/org/example/TestNgTutorial.java">
        <classes>
            <class name="org.example.TestNgTutorial">
                <methods>
                    <include name="demo"/>
                </methods>
            </class>
            <class name="org.example.TestNG">

            </class>
        </classes>
    </test>
</suite>