<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="D:/Staff/Ojha file/java-for-practice/FrameWork/src/main/java/org/example/TestTutorial.java">
        <classes>
            <class name="org.example.TestTutorial">
                <methods>
                    <include name="sum"/>
                </methods>
            </class>
            <class name="org.example.AnotherTest"></class>
        </classes>
    </test>
</suite>